{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "amd": true,
    "commonjs": true,
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true,
    "console": true
  },
  "rules": {
    "no-console": "off",
    "react/prop-types": [0]
  }
}
